
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Email Sent</title>
	<link rel="stylesheet" href="{% static 'accounts/css/style.css'%}">
</head>
<body>
	<main>
		
			<div class="container">
				<div class="form-container">
					<h1>Check your inbox.</h1>
					<p>We've emailed you instructions for setting your password.
					You should receive the email shortly!</p>
				</div>
			</div>
	</main>
</body>
</html>