{% extends 'ujuziwebsite/base.html'%}
{% load static %}
{% block title %}Forgot Your Password?{% endblock title %}

{% block content %}
<section id="home" data-stellar-background-ratio="0.5">
	<div class="container">
		 <div>

			<h1>Forgot your password?</h1>
            <p>Enter your email address below, and we'll email instructions for setting
            a new one.</p>
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send me instructions!">
            </form>
		 </div>
	</div>
</section>
{%endblock content%}