     <!-- nav -->
   <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">

             <div class="navbar-header">
                  <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                  </button>

                  <!-- lOGO TEXT HERE -->
                  <a href="{% url 'ujuziwebsite:home'%}" class="navbar-brand">UJUZIPORTFOLIYO</a>
             </div>

             <!-- MENU LINKS -->
             <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                       <li><a href="{% url 'ujuziwebsite:home'%}" class="smoothScroll">HOME</a></li>
                       <li><a href="{% url 'ujuziwebsite:about'%}" class="smoothScroll">ABOUT</a></li>
                       <li><a href="{% url 'ujuziwebsite:contact-us'%}" class="smoothScroll">CONTACT US</a></li>
                  </ul>
                  {% if user.is_authenticated %}
    
                  <ul class="nav navbar-nav navbar-right">
                    <li><a target="_blank" href="">DASHBOARD</a></li>
                    <li><a target="_blank" href="">PORTFOLIO</a></li>
                    
                    <li><a href="">LOGOUT</a></li>
                  </ul>
                  {% else %}
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="">LOGIN</a></li>
                  </ul>
                  {% endif %}
             </div>

        </div>
   </section>

