{% extends 'userportfoliyo/base.html'%}
{% load static %}
{% block title %}portfoliowebsite{% endblock title %}

{% block content %}
        <!--
        ===================
            HOME 
        ===================
        -->
        <section class="mh-home" id="mh-home">
            <div class="home-ovimg">
                <div class="container">
                    <div class="row xs-column-reverse section-separator vertical-middle-content home-padding">
                        <div class="col-sm-6">
                            <div class="mh-header-info">
                                <div class="mh-promo">
                                    <span>Hello, I am</span>
                                </div>
                                <h2>{% if user.first_name%}{{user.first_name | title}} {% else %} F_Name{% endif %} {% if user.last_name%}{{user.last_name | title}} {% else %} L_Name {% endif %}</h2>
                                {% for my_profession in profession%}
                                <style>
                                    .prof{
                                        font-size: 1.5em;
                                        font-weight: bold;
                                    }
                                </style>
                                <span class="prof">{{my_profession.name}} |</span>
                                {%empty%}
                                <h4>Populate profession</h4>
                                {%endfor%}
                                <p style="margin-top: 10px;" >{% if profile.bio %}{{profile.bio}}{%else%} Populate bio {%endif%}</p>
                                
                                <ul>
                                    <li class="" data-wow-duration="0.8s" data-wow-delay="0.4s"><i class="fa fa-envelope"></i><a href="mailto:">{% if user.email%}{{user.email}}{% else%} add email {% endif %}</a></li>
                                    <li class="" data-wow-duration="0.8s" data-wow-delay="0.5s"><i class="fa fa-phone"></i><a href="callto:">{% if user.phone_number%}{{user.phone_number}}{% else%} add phone{% endif %}</a></li>
                                    <li class="" data-wow-duration="0.8s" data-wow-delay="0.6s"><i class="fa fa-map-marker"></i><address>{% if user.country%}{{user.country}}{% else%} add country {% endif %}</address></li>
                                </ul>
                                
                                <ul class="social-icon ">
                                    <li><a href="{% if user.fb_link %}{{user.fb_link}} {% endif %}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="{% if user.x_link %}{{user.x_link}} {% endif %}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="{% if user.github_link %}{{user.github_link}} {% endif %}" target="_blank"><i class="fa fa-github"></i></a></li>
                                    <li><a href="{% if user.fb_link %}{{user.linkedin_link}} {% endif %}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="{% if user.instagram_link %}{{user.instagram_link}} {% endif %}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="hero-img">
                                <div class="img-border">
                                    <img src="{{user.profilephoto.url}}" alt=""  class="img-fluid">
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </section>   
        
        <!--
        ==================

            ABOUT
        =================
        -->
        <section class="mh-about" id="mh-about">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-about-img shadow-2 " data-wow-duration="0.8s" data-wow-delay="0.4s">
                            <img src="{% static 'userportfoliyo/assets/images/ab-img.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-about-inner">
                            <h2 class="" data-wow-duration="0.8s" data-wow-delay="0.1s">About Me</h2>
                            <p class="" data-wow-duration="0.8s" data-wow-delay="0.2s">{%if profile.about_me%}{{profile.about_me}}{% else %} Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ab deserunt assumenda beatae delectus, nam quod asperiores dolores odit, cum voluptate distinctio ipsam dolore enim dicta qui dolorum recusandae, necessitatibus ex pariatur quasi doloremque maxime omnis. Similique, quidem provident quae in dignissimos nam neque itaque sequi nisi voluptatum quisquam facere iusto natus accusamus nemo vero voluptatibus veniam corrupti ipsa! Laborum, placeat cupiditate. Enim quas adipisci commodi voluptas vero minima neque repellendus quidem quibusdam iste perspiciatis ut voluptatum quis nam illo itaque, omnis tempore consectetur? Iure voluptatem quia dolorum architecto repellendus recusandae suscipit nam aliquam facere? Vitae inventore modi eius cupiditate.{%endif%}</p>
                            <div class="mh-about-tag " >
                                <h3>Tech-stack:</h3>
                                <ul>
                                    {%for tech in profile.tech_stack.all %}
                                    <li><span>{{tech.name}}</span></li>
                                    {%empty%}
                                    <li><span>lorem</span></li>
                                    <li><span>lorem</span></li>
                                    <li><span>lorem</span></li>
                                    <li><span>lorem</span></li>
                                    {%endfor%}
                                </ul>
                            </div>
                            <a target="_blank" href="{% url 'dashboard:public_cvpreview' user.username %}" class="btn btn-fill " data-wow-duration="0.8s" data-wow-delay="0.4s">View My CV</a>
                            <a target="_blank" href="{% url 'userportfoliyo:public_download_cv' user.username %}" class="btn btn-fill " data-wow-duration="0.8s" data-wow-delay="0.4s">Download My CV <i class="fa fa-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!--
        ===================
           SERVICE
        ===================
        -->
        <section class="mh-service" id="mh-service">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 text-center section-title " data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h2>Professional Expertise</h2>
                    </div>
            
                    {% for prof in profession%}
                    <div class="col-sm-4">
                        <div class="mh-service-item shadow-1 dark-bg " data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <i class="fa fa-code iron-color"></i>
                            <h3>{{prof.name}}</h3>
                            <p>
                                {{prof.description}}
                            </p>
                        </div>
                    </div>
                    
                    {%empty%}
                    <div class="col-sm-4">
                        <div class="mh-service-item shadow-1 dark-bg " data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <i class="fa fa-code iron-color"></i>
                            <h3>Web Designer</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mh-service-item shadow-1 dark-bg " data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <i class="fa fa-code iron-color"></i>
                            <h3>Web Designer</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mh-service-item shadow-1 dark-bg " data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <i class="fa fa-code iron-color"></i>
                            <h3>Web Designer</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                        </div>
                    </div>
                    
                    {%endfor%}
                </div>
                </div>
            </div>
        </section>       
    
        
        <!--
        ===================
           EXPERIENCES
        ===================
        -->
        <section class="mh-experince" id="mh-experience">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 text-center section-title " data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h2>Work Experience</h2>
                    </div>
                    {% for work in profile.profile_workexperience.all%}
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-work">
                            <div class="mh-experience-deatils">
                                
                                <div class="mh-work-item dark-bg " data-wow-duration="0.8s" data-wow-delay="0.4s">
                                    <h4>{{work.role}} | <a href="">{{work.organization}}</a></h4>
                                    <div class="mh-eduyear">{{work.year}}</div>
                                    <h6>Responsibility :</h6>
                                    <p>
                                        {{work.description}}
                                    </p>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    {%empty%}
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-work">
                            <div class="mh-experience-deatils">
                                <div class="mh-work-item dark-bg " data-wow-duration="0.8s" data-wow-delay="0.4s">
                                    <h4>Role Played <a href="">Organization Name</a></h4>
                                    <div class="mh-eduyear">Year: 2005-2008</div>
                                    <h6>Responsibility :</h6>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, earum.</p>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-work">
                            <div class="mh-experience-deatils">
                                <div class="mh-work-item dark-bg " data-wow-duration="0.8s" data-wow-delay="0.4s">
                                    <h4>Role Played <a href="">Organization Name</a></h4>
                                    <div class="mh-eduyear">Year: 2005-2008</div>
                                    <h6>Responsibility :</h6>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, earum.</p>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-work">
                            <div class="mh-experience-deatils">
                                <div class="mh-work-item dark-bg " data-wow-duration="0.8s" data-wow-delay="0.4s">
                                    <h4>Role Played <a href="">Organization Name</a></h4>
                                    <div class="mh-eduyear">Year: 2005-2008</div>
                                    <h6>Responsibility :</h6>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, earum.</p>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-work">
                            <div class="mh-experience-deatils">
                                <div class="mh-work-item dark-bg " data-wow-duration="0.8s" data-wow-delay="0.4s">
                                    <h4>Role Played <a href="">Organization Name</a></h4>
                                    <div class="mh-eduyear">Year: 2005-2008</div>
                                    <h6>Responsibility :</h6>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, earum.</p>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </section>   
  
        <!--
        ===================
           PROJECTS
        ===================
        -->
        <section class="mh-portfolio" id="mh-portfolio">
            <div class="container">
                <div class="row section-separator">
                    <div class="section-title col-sm-12 ">
                        <h3>Recent Projects</h3>
                    </div>
                    
                    <div class="part col-sm-12">
              
                        <div class="mh-project-gallery col-sm-12 " id="project-gallery" >
                            <div class="portfolioContainer row">
                                {% for project in projects %}
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12">
                                    <figure>
                                        <img src="{{project.image.url}}" alt="img04">
                                        <figcaption class="fig-caption">
                                            <i class="fa fa-search"></i>
                                            <h5 class="title">{{project.name}}</h5>
                                            <span class="sub-title">By:{{user.username}}</span>
                                            <a href="{% url 'userportfoliyo:public_project_detail' project.id user.username %}"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                {% empty %}
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12">
                                    <figure>
                                        <img src="{% static 'userportfoliyo/assets/images/g6.png' %}" alt="img04">
                                        <figcaption class="fig-caption">
                                            <i class="fa fa-search"></i>
                                            <h5 class="title">School Management System</h5>
                                            <span class="sub-title">By:Jordan Will</span>
                                            <a href=""></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12">
                                    <figure>
                                        <img src="{% static 'userportfoliyo/assets/images/g6.png' %}" alt="img04">
                                        <figcaption class="fig-caption">
                                            <i class="fa fa-search"></i>
                                            <h5 class="title">School Management System</h5>
                                            <span class="sub-title">By:Jordan Will</span>
                                            <a href=""></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12">
                                    <figure>
                                        <img src="{% static 'userportfoliyo/assets/images/g6.png' %}" alt="img04">
                                        <figcaption class="fig-caption">
                                            <i class="fa fa-search"></i>
                                            <h5 class="title">School Management System</h5>
                                            <span class="sub-title">By:Jordan Will</span>
                                            <a href=""></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                
                                {%endfor%}
                            </div> 
                        </div>
                    </div> 
                    
                </div> 
            </div>

        </section>
        
        <!--
        ===================
           BLOG
        ===================
        -->
        <section class="mh-blog" id="mh-blog">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 section-title " data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h3>Recent Posts</h3>
                    </div>
                    {% for blog in blogs %}
                    <div class="col-sm-12 col-md-4">
                         <div class="mh-blog-item dark-bg " >
                            <img src="{{blog.image.url}}" alt="" class="img-fluid">
                            <div class="blog-inner">
                                <h2><a href="">{{blog.title}}</a></h2>
                                <div class="mh-blog-post-info">
                                    <ul>
                                        <li><strong>Post On</strong><a href="">{{blog.created_at}}</a></li>
                                        <li><strong>By</strong><a href="">{{user.username|title}}</a></li>
                                    </ul>
                                </div>
                                <p>{{blog.body|truncatewords:20}}</p>
                                <a href="{% url 'userportfoliyo:public_blog_detail' blog.pk user.username %}">Read More</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-sm-12 col-md-4">
                        <div class="mh-blog-item dark-bg " >
                           <img src="{% static 'userportfoliyo/assets/images/b-3.png' %}" alt="" class="img-fluid">
                           <div class="blog-inner">
                               <h2><a href="">Security in Web Apps</a></h2>
                               <div class="mh-blog-post-info">
                                   <ul>
                                       <li><strong>Post On</strong><a href="">Jun 20th, 2024</a></li>
                                       <li><strong>By</strong><a href="">Sasha Williams</a></li>
                                   </ul>
                               </div>
                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam rem, nobis eius debitis accusamus, tempore minus quod,ea autem optio fugiat suscipit eos aperiam?...</p>
                               <a href="">Read More</a>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-12 col-md-4">
                    <div class="mh-blog-item dark-bg " >
                       <img src="{% static 'userportfoliyo/assets/images/b-3.png' %}" alt="" class="img-fluid">
                       <div class="blog-inner">
                           <h2><a href="">Security in Web Apps</a></h2>
                           <div class="mh-blog-post-info">
                               <ul>
                                   <li><strong>Post On</strong><a href="">Jun 20th, 2024</a></li>
                                   <li><strong>By</strong><a href="">Sasha Williams</a></li>
                               </ul>
                           </div>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam rem, nobis eius debitis accusamus, tempore minus quod,ea autem optio fugiat suscipit eos aperiam?...</p>
                           <a href="">Read More</a>
                       </div>
                   </div>
                   </div>
                   <div class="col-sm-12 col-md-4">
                    <div class="mh-blog-item dark-bg " >
                       <img src="{% static 'userportfoliyo/assets/images/b-3.png' %}" alt="" class="img-fluid">
                       <div class="blog-inner">
                           <h2><a href="">Security in Web Apps</a></h2>
                           <div class="mh-blog-post-info">
                               <ul>
                                   <li><strong>Post On</strong><a href="">Jun 20th, 2024</a></li>
                                   <li><strong>By</strong><a href="">Sasha Williams</a></li>
                               </ul>
                           </div>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam rem, nobis eius debitis accusamus, tempore minus quod,ea autem optio fugiat suscipit eos aperiam?...</p>
                           <a href="">Read More</a>
                       </div>
                   </div>
                   </div>
                   <div class="col-sm-12 col-md-4">
                   </div>
                    {% endfor %}
                </div>
            </div>
        </section>        
        
        <!--
        ===================
           TESTIMONIALS
        ===================
        -->
        <section class="mh-testimonial" id="mh-testimonial">
            <div class="home-v-img">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 section-title " data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h2>Client Reviews</h2>
                            <h5>This is what people i've worked with say about me and my work...</h5>
                        </div>
                        
                        <div class="col-sm-12 ">
                            {% for review in reviews %}
                            <div class="each-client-item">
                                <div class="mh-client-item dark-bg black-shadow-1">
                                    <p>{{review.review}}</p>
                                    <h4>{{review.reviewer_name}}</h4>
                                    <span>{{review.reviewer_role}}, {{review.reviewer_organization}}</span>
                                </div>
                            </div>

                            {%empty%}
                            <div class="each-client-item">
                                <div class="mh-client-item dark-bg black-shadow-1">
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, sit?</p>
                                    <h4>Jordan Will</h4>
                                    <span>Senior Developer, Safaricom LTD</span>
                                </div>
                            </div>
                            <div class="each-client-item">
                                <div class="mh-client-item dark-bg black-shadow-1">
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, sit?</p>
                                    <h4>Jordan Will</h4>
                                    <span>Senior Developer, Safaricom LTD</span>
                                </div>
                            </div>
                            <div class="each-client-item">
                                <div class="mh-client-item dark-bg black-shadow-1">
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, sit?</p>
                                    <h4>Jordan Will</h4>
                                    <span>Senior Developer, Safaricom LTD</span>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        
        <!--
        ===================
           CONTACT
        ===================
        -->
        <section class="mh-footer" id="mh-contact">
            <div class="map-image image-bg">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 section-title " data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h2>Get in Touch</h2>
                        </div>
             
                        <div class="col-sm-12 col-md-6 " >
                            <p>Now that you know about me, you can reach out for any freelancing opportunities , contract work or just to say hi !</p>
                            <form method="post" action="{% url 'userportfoliyo:public-send-email' user.username %}">
                                {% csrf_token %}
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <input name="name" class="contact-name form-control"  type="text" placeholder="UserName" >
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <input name="subject" class="contact-subject form-control"  type="text" placeholder="Subject" >
                                    </div>
                                    <div class="col-sm-12">
                                        <input name="from_email" class="contact-email form-control"  type="email" placeholder="Email" >
                                    </div>
                                    <div class="col-sm-12">
                                        <textarea name="message" class="contact-message" rows="6" placeholder="Message" ></textarea>
                                    </div>
                                   
                                    <div class="btn-form col-sm-12">
                                        <button type="submit" class="btn btn-fill btn-block" id="form-submit">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-6 " data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <div>
                                <div class="mh-about-img shadow-2 " data-wow-duration="0.8s" data-wow-delay="0.4s">
                                    <img src="{% static 'userportfoliyo/assets/images/ab-img.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>     
{% endblock content %}