<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock title%}| Dashboard</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a>
            </li>
            <li><a href="">Profile Management</a>
                <ul>
                    <li><a href="{% url 'dashboard:profile-edit' %}">Edit profile info</a></li>
                    <li><a href="{% url 'dashboard:personal-edit' %}">Edit personal info</a></li>
                </ul>
            </li>
            <li><a href="">Tech Stack Management</a>
                <ul>
                    <li><a href="{% url 'dashboard:tech-add' %}">Add Tech</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'dashboard:tech-view' %}">View Tech Stack</a></li>
                </ul>
            </li>
            <li><a href="">Work Experience</a>
                <ul>
                    <li><a href="{% url 'dashboard:work-add' %}">Add Work Experience</a></li>
                    <li><a href="{% url 'dashboard:work-view' %}">View Work Experience</a></li>
                </ul>
            </li>
            <li><a href="">Professional Expertise</a>
                <ul>
                    <li><a href="{% url 'dashboard:profession-add' %}">Add Profession</a></li>
                    <li><a href="{% url 'dashboard:profession-view' %}">View Profession</a></li>
                </ul>
            </li>
            <li><a href="">Project Management</a>
                <ul>
                    <li><a href="{% url 'dashboard:project-add' %}">Add Project</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'dashboard:project-view' %}">View Projects</a></li>
                </ul>
            </li>
            <li><a href="">Blog Management</a>
                <ul>
                    <li><a href="{% url 'dashboard:blog-add' %}">Add Blog</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'dashboard:blog-view' %}">View blogs</a></li>
                </ul>
            </li>
            <li><a href="">Review Management</a>
                <ul>
                    <li><a href="{% url 'dashboard:review-add' %}">Add Review</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'dashboard:review-view' %}">View Reviews</a></li>
                </ul>
            </li>
            
            <li><a href="">Others</a>
                <ul>
                    <li><a href="{% url 'dashboard:service-review' %}">Rate our Service</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    {%block content%}
    {% endblock content%}
</body>
</html>