{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Dashboard</title>
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">DASHBOARD</a> 
                    <div class="dropdown-content">
                        <a href="{% url 'dashboard:dashboard' %}">Overview</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">PROFILE</a>
                    <div class="dropdown-content">
                        <a href="{% url 'dashboard:profile-edit' %}">Edit profile info</a>
                        <a href="{% url 'dashboard:personal-edit' %}">Edit personal info</a>
                        <a href="{% url 'password_change' %}">Change Password</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">WORK EXPERIENCE</a>
                    <div class="dropdown-content">
                        <a href="{% url 'dashboard:work-add' %}">Add Work Experience</a>
                        <a href="{% url 'dashboard:work-view' %}">View Work Experience</a>
                    </div>
                </li>
       
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">PROFESSIONAL EXPERTISE</a>
                    <div class="dropdown-content">
                        <a href="{% url 'dashboard:profession-add' %}">Add Profession</a>
                        <a href="{% url 'dashboard:profession-view' %}">View Profession</a>
                    </div>
    
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">PROJECTS</a>
                    <div class="dropdown-content">
                        <a href="{% url 'dashboard:project-add' %}">Add Project</a>
                        <a href="{% url 'dashboard:project-view' %}">View Projects</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">BLOGS</a>
                    <div class="dropdown-content">
                        <a href="{% url 'dashboard:blog-add' %}">Add Blog</a>
                        <a href="{% url 'dashboard:blog-view' %}">View Blogs</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">REVIEWS</a>
                    <div class="dropdown-content">
                        <a href="{% url 'dashboard:review-add' %}">Add Review</a>
                        <a href="{% url 'dashboard:review-view' %}">View Reviews</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">EDUCATION</a>
                    <div class="dropdown-content">
                        <a href="{% url 'dashboard:education-add' %}">Add Education</a>
                        <a href="{% url 'dashboard:education-view' %}">View Education</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">CERTIFICATIONS</a>
                    <div class="dropdown-content">
                        <a href="{% url 'dashboard:certification-add' %}">Add Certification</a>
                        <a href="{% url 'dashboard:certification-view' %}">View Certifications</a>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">OTHERS</a>
                    <div class="dropdown-content">
                       <a href="{% url 'userportfoliyo:user_portfolio' user.username %}" target="_blank">Share Portfolio Link</a>
                        <a href="{% url 'accounts:delete_account' user.username %}">Delete Account</a>
                    </div>
                </li>
           
            </ul>
        </nav>
        <div class="content">
            <section>
                <h4 class="text-center"><a href="{% url 'dashboard:dashboard' %}"> OVERVIEW </a> | <a target="_blank" href="{% url 'userportfoliyo:portfolio' %}"> PORTFOLIO PREVIEW </a> | <a target="_blank" href="{% url 'dashboard:cvpreview' %}"> CV PREVIEW </a>| <a href="{% url 'accounts:logout_user' %}"> LOGOUT </a></h4>
            </section>
            
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <script src="{% static 'dashboard/script.js' %}"></script>
</body>
</html>
