{%extends 'dashboard/base.html'%}
{%block content%}
<section>
    <h1>Welcome, {{user.username}}</h1>
    <h2>Overview</h2>
    <div>
        <h3>Blogs:20</h3>
       
    </div>
    <div>
        <h3>BlogComments:20</h3>
       
    </div>
    <div>
        <h3>Projects:20</h3>
    </div>
    <div>
        <h3>Likes:20</h3>
    </div>
    <div>
        <h3>Profile Views:20</h3>
    </div>
    <div>
        <h3>CV downloads:20</h3>
    </div>
</section>
<section>
    <div>
        <h2>Latest Tech Jobs</h2>
    </div>
</section>
<section>
    <div>
        <h2>Latest Tech News</h2>
    </div>
</section>
{% endblock content%}