{% extends 'dashboard/base.html' %}
{% block content %}
<section class="dashboard-overview">
    <h1>Welcome, {{ user.username }}</h1>
    <div class="overview-cards">
        <div class="card dashboard-item">
            <h3>Blogs</h3>
            <p>{{ blogs }}</p>
        </div>
        <div class="card dashboard-item">
            <h3>Blog Comments</h3>
            <p>{{ comments }}</p>
        </div>
        <div class="card dashboard-item">
            <h3>Projects</h3>
            <p>{{ projects }}</p>
        </div>
        <div class="card dashboard-item">
            <h3>Profile Views</h3>
            <p>{{user_stat.profile_views}}</p>
        </div>
        <div class="card dashboard-item">
            <h3>CV Views</h3>
            <p>{{user_stat.cv_views}}</p>
        </div>
        <div class="card dashboard-item">
            <h3>CV Downloads</h3>
            <p>{{user_stat.cv_downloads}}</p>
        </div>
    </div>
</section>
<section class="latest-updates">
    <div class="latest-section">
        <h2>Latest Tech Jobs</h2>
        <ul class="job-list">
            <li><a href="#">Frontend Developer at XYZ</a></li>
            <li><a href="#">Backend Developer at ABC</a></li>
            <li><a href="#">Full Stack Developer at 123</a></li>
        </ul>
    </div>
    <div class="latest-section">
        <h2>Latest Tech News</h2>
        <ul class="news-list">
            <li><a href="#">Tech Giant XYZ releases new product</a></li>
            <li><a href="#">Innovations in AI: 2024 Trends</a></li>
            <li><a href="#">How blockchain is changing finance</a></li>
        </ul>
    </div>
</section>
{% endblock content %}

