{%extends 'dashboard/base.html'%}
{%block content%}
<section>
   <h2>Blogs</h2>
   <form method="get">
    <input type="text" name="q" placeholder="search by title, description...">
    <button type="search">Search</button></a>

   </form>
   <table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Created_At</th>
            <th>Updated_At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      {%for blog in blog_list%}
        <tr>
            <td>{{blog.title}}</td>
            <td>{{blog.body|truncatewords:5}}</td>
            <td>{{blog.created_at|timesince}} ago</td>
            <td>{{blog.updated_at|timesince}} ago</td>
            <td>
                <a href="{% url 'dashboard:blog-edit' blog.id %}"><button>Edit</button></a>
                <a href="{% url 'dashboard:blog-delete' blog.id %}"><button>Delete</button></a>
            </td>
        </tr>
      {%empty%}
      <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
     </tr>
      {% endfor %}
    </tbody>
</table>
  
</section>
{% endblock content%}