{%extends 'dashboard/base.html'%}
{%block content%}
<section>
   <h2>Projects</h2>
   <form method="get">
    <input type="text" name="q" placeholder="search by name/description...">
    <button type="search">Search</button></a>

   </form>
   <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created_At</th>
            <th>Updated_At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      {%for project in project_list%}
        <tr>
            <td>{{project.name}}</td>
            <td>{{project.description|truncatewords:5}}</td>
            <td>{{project.created_at|timesince}} ago</td>
            <td>{{project.updated_at|timesince}} ago</td>
            <td>
                <a href="{% url 'dashboard:project-edit' project.id %}"><button>Edit</button></a>
                <a href="{% url 'dashboard:project-delete' project.id %}"><button>Delete</button></a>
            </td>
        </tr>
      {%empty%}
      <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
     </tr>
      {% endfor %}
    </tbody>
</table>
  
</section>
{% endblock content%}