{%extends 'dashboard/base.html'%}
{%block content%}
<section>
   <h2>View profesion</h2>
   <form method="get">
    <input type="text" name="q" placeholder="search by profesion/description...">
    <button type="search">Search</button></a>

   </form>
   <table>
    <thead>
        <tr>
            <th>Profession</th>
            <th>Description</th>
            <th>Created_At</th>
            <th>Updated_At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      {%for profession in profession_list%}
        <tr>
            <td>{{profession.name}}</td>
            <td>{{profession.description|truncatewords:5}}</td>
            <td>{{profession.created_at|timesince}} ago</td>
            <td>{{profession.updated_at|timesince}} ago</td>
            <td>
                <a href="{% url 'dashboard:profession-edit' profession.id %}"><button>Edit</button></a>
                <a href="{% url 'dashboard:profession-delete' profession.id %}"><button>Delete</button></a>
            </td>
        </tr>
      {%empty%}
      <tr>
        <td colspan="5">No Profession found.</td>
     </tr>
      {% endfor %}
    </tbody>
</table>
  
</section>
{% endblock content%}