{%extends 'dashboard/base.html'%}
{%block content%}
<section>
   <h2>Tech Stack List</h2>
   <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Created_At</th>
            <th>Updated_At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      {%for profession in profession_list%}
        <tr>
            <td>{{tech.name}}</td>
            <td>{{profession.created_at|timesince}}</td>
            <td>{{profession.updated_at|timesince}}</td>
            <td>
                <a href="{% url 'dashboard:tech-edit' tech.id %}"><button>Edit</button></a>
                <a href="{% url 'dashboard:tech-delete' tech.id %}"><button>Delete</button></a>
            </td>
        </tr>
      {%empty%}
      <tr>
         <td>Populate profession</td>
         <td>Populate profession</td>
         <td>Populate profession</td>
         <td>
             <a href=""><button>Edit</button></a>
             <a href=""><button>Delete</button></a>
         </td>
     </tr>
      {% endfor %}
    </tbody>
</table>
  
</section>
{% endblock content%}